body {
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(to right, rgb(189, 189, 255), rgb(255, 233, 236));
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #92a4ff;
}


img {
    margin: 2%;
    border: solid 2px;
    border-color: #f3b4e3;

}



.text-content1 {
    margin-top: 1.5rem !important;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 5px;
    border-style: none;
    background: -webkit-linear-gradient(left, orange, yellow, violet);
    background: -moz-linear-gradient(left, orange, yellow, violet);    
    background: -o-linear-gradient(left, orange, yellow, violet);
   
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    margin: 2%;
    border: solid 5px;
    border-color: #d188bf;
}


p.descripcion {
    text-align: center;
    font-size: 20px;
}



video.vid {
    margin: 20px;
    border-radius: 15px;
    
}

div.gallery {
    box-sizing: border-box;
    margin: 25px 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #ccc;
    width: 31vw;
    max-height: 400px;
    max-width: 400px;
    box-shadow: 0px 0px 30px #000;
}

div.gallery:hover {
    border: 3px solid #f38eda;
    transition: 0.1s;
}

div.gallery img {
    width: 100%;
    height: 90%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

div.desc {
    background-color: lightpink;
    background-size: 100%;
    text-align: center;
    width: 100%;
    height: 10%;
    
}

.centrado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 10px;
}

.footer {
    background-color: #333;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
}